.informatioonTitle {
	border-radius: 10px;
	background-color: #fff;
	padding: 10px 20px;
}

.green {
	color: green;
	transition: all 0.5s ease;
}

.yellow {
	color: yellow;
	transition: all 0.5s ease;
}
